<div class="float-right">
  <button class="btn btn-primary" (click)="run()">Run</button>
  <button class="btn btn-primary" (click)="clear()">Clear</button>
</div>
<div class="card">
    
    <div class="card-body">
        <div class="border border-info" #code style="width: 800px; height: 400px; margin: 8px;"></div>
    </div>
    <div class="card-footer text-muted">
        <div class="container-fluid">
            <div>
                <div
                  class="border1"
                  #output
                  style="width: 800px; height: 400px; margin: 8px; background-color: #999;"
                ></div>
              </div>
        </div>
      </div>
</div>


