<div class="card">
  <div class="card-header text-center">
    <h1>Online Compiler</h1>
  </div>
  <div class="card-body">
    <nav class="nav nav-tabs nav-stacked">
      <a class="nav-link active" routerLink="/java">Java</a>
      <a class="nav-link active"  routerLink="/python">Python</a>
      <a class="nav-link active" routerLink="/cpp">CPP</a>
    </nav>
    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>